REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: 001
Description: The product shall record workshop information.
Type: Functional
Rationale: The information for each workshop must be available to the system users.
Originator: Karen, Centre Administrator
Comments: Filippo Sassi

REQ-ID: 002
Description: The product shall update existing workshops information.
Type: Functional
Rationale: System users must be able to update a workshop details on facilitator’s request.
Originator: Karen, Centre Administrator
Comments: Filippo Sassi

REQ-ID: 003
Description: The product shall determine if a customer is a member of the centre.
Type: Functional
Rationale: Members receive special benefits such as a discount on workshops.
Originator: Karen Black, Centre Administrator
Comments:

REQ-ID: 004
Description: The product shall determine if a member has a direct debit set up.
Type: Functional
Rationale: Members receive a discount on workshops if they have a direct debit set up.
Originator: Karen Black, Centre Administrator
Comments: