REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: 001
Description: The product shall record workshop information.
Type: Functional
Rationale: The information for each workshop must be available to the system users.
Originator: Karen, Centre Administrator
Comments: Filippo Sassi

REQ-ID: 002
Description: The product shall update existing workshops information.
Type: Functional
Rationale: System users must be able to update a workshop details on facilitator’s request.
Originator: Karen, Centre Administrator
Comments: Filippo Sassi

REQ-ID: 003
Description: The product shall determine if a customer is a member of the centre.
Type: Functional
Rationale: Members receive special benefits such as a discount on workshops.
Originator: Karen Black, Centre Administrator
Comments:

REQ-ID: 004
Description: The product shall determine if a member has a direct debit set up.
Type: Functional
Rationale: Members receive a discount on workshops if they have a direct debit set up.
Originator: Karen Black, Centre Administrator
Comments:

REQ-ID: 005
Description: The product shall determine if a delegate is a member.
Type: Functional
Rationale: Members will recieve a discount on their order whereas non-members will pay full price.
Originator: Karen Black, Centre Administrator
Comments:

REQ-ID: 006
Description: The product shall determine if a members discount and apply it to the order.
Type: Functional
Rationale: Members recieve a discount which should be automatically applied to all workshop bookings automatically.
Originator: Karen Black, Centre Administrator
Comments:

REQ-ID: 007
Description: The product shall determine number of available places prior to booking.
Type: Functional
Rationale: Customers can only be booked onto workshops that have space availablity.
Originator: Karen Black, Centre Administrator
Comments:

REQ-ID: 008
Description: The product shall be updated to record that a workshop facilitator or lecturer has been paid
Type: Functional
Rationale: Once a facilitator/lecturer invoice has been paid the workshop information is updated to record this, in case of subsequent query or receiving of another invoice. 
Originator: Karen Black, Centre Administrator
Comments: GS

REQ-ID: 009
Description: The product shall inform of the agreed fees for a workshop or class upon receipt of an invoice
Type: Functional
Rationale: To accurately pay facilitator/lecturer invoices in accordance with agreed terms.
Originator: Karen Black, Centre Administrator
Comments: GS

REQ-ID: 010
Description: The product should identify additional equipment requirements
Type:Functional
Rationale: To assess whether equipment needs to be ordered or reserved
Originator: Karen
Comments: AGilmour

REQ-ID: 011
Description: The product should provide a status update
Type: Functional 
Rationale: So that staff and facilitators know what will be available
Originator: Karen
Comments: AGilmour

REQ-ID: 012
Description: The system shall track all business activities, people and resources
Type: Functional
Rationale: Be able to efficiently manage memberships, reservations, payments and plan activities
Originator: Justin and Marion 
Comments: David Perez

REQ-ID: 013
Description: The product shall register payments and billing information 
Type: Functional
Rationale: Customers can pay for the services received and The Centre can pay the fees to the workshop coordinators and class lecturers
Originator: Justin and Marion
Comments: David Perez

