REQ-ID: 001
Description: The product shall record workshop information.
Type: Functional
Rationale: The information for each workshop must be available to system users, enabling staff to deliver efficient customer service.
Originator: Karen, Centre Administrator
Comments: Filippo Sassi

REQ-ID: 002
Description: The product shall accept updates to existing workshop information.
Type: Functional
Rationale: System users must be able to update workshop details, ensuring data accuracy while maintaining efficient customer service.
Originator: Karen, Centre Administrator
Comments: Filippo Sassi

REQ-ID: 004
Description: The product shall determine whether a member has a direct debit agreement with the centre.
Type: Functional
Rationale: Customers need to be charged the correct price for workshops; they receive a discount if they have a direct debit set up. Direct debits reduce centre overheads, and mean that an individual who wishes to cease membership must actively cancel the direct debit.
Originator: Karen Black, Centre Administrator
Comments:

REQ-ID: 007
Description: The product shall determine number of available places prior to booking.
Type: Functional
Rationale: Customers can only be booked onto workshops that have space availablity.
Originator: Karen Black, Centre Administrator
Comments:

REQ-ID: 008
Description: The product shall be updated to record that a workshop facilitator or lecturer has been paid
Type: Functional
Rationale: Once a facilitator/lecturer invoice has been paid the workshop information is updated to record this, in case of subsequent query or receiving of another invoice. 
Originator: Karen Black, Centre Administrator
Comments: GS

REQ-ID: 009
Description: The product shall inform of the agreed fees for a workshop or class upon receipt of an invoice
Type: Functional
Rationale: To accurately pay facilitator/lecturer invoices in accordance with agreed terms.
Originator: Karen Black, Centre Administrator
Comments: GS

REQ-ID: 010
Description: The product shall identify additional equipment requirements
Type:Functional
Rationale: To assess whether equipment needs to be ordered or reserved
Originator: Karen
Comments: AGilmour

REQ-ID: 011
Description: The product shall provide a status update
Type: Functional 
Rationale: So that staff and facilitators know what will be available
Originator: Karen
Comments: AGilmour

REQ-ID: 012
Description: The product shall determine the availability of places for a specified workshop.
Type: Functional
Rationale: Potential attendees will become disaffected if the workshop application process cannot calculate the number of available places accurately.  It is in the interest of Walton Sustainability Centre that classes are as well-attended as possible.
Originator: Karen Black
Comments: Initial suggestion came during discussion with Marion, but Karen made a general summary of requests at the end of her discussion, and has authority as Centre Administrator.

REQ-ID: 013
Description: The product shall determine whether an identified user is a member.
Type: Functional
Rationale: In return for guaranteed subscription, members are entitled to discount on workshops.
Originator: Karen Black
Comments: Initial suggestion came during discussion with Marion, but Karen made a general summary of requests at the end of her discussion, and has authority as Centre Administrator.

REQ-ID: 014
Description: The product shall obtain membership information based on unique identifier
Type: Functional
Rationale: Unique identification allows administrators track active/passive subscription
Originator: Karen Black, Centre Administrator
Comments: Clients might subscribe only for short time period and then reactivate their membership later. This setup allows tracking clients and keep old relations in place.

REQ-ID: 016
Description: The product shall check event bookings for any planning issues.
Type: Functional
Rationale: Planning and execution of events has many dependencies that must be tracked and problems reported in good time for corrective action.
Originator: Karen, Marion
Comments: [Dini] There are a lot of inputs to this, currently identified are: required supplies, current stock, ordered supplies, supply lead times, availablility of centre facilities, availability of staff/participants.

REQ-ID: 018
Description: The system shall keep track of membership and reservations
Type: Functional
Rationale: Be able to efficiently manage memberships, reservations, payments and plan activities
Originator: Justin and Marion 
Comments: David Perez

REQ-ID: 019
Description: The product shall register payments and billing information 
Type: Functional
Rationale: Customers can pay for the services received and The Centre can pay the fees to the workshop coordinators and class lecturers
Originator: Justin and Marion
Comments: David Perez

REQ-ID: 020
Description: The product shall handle the creation of new memberships.
Type: Functional
Rationale: To maintain business viability and support expansion, a mechanism is needed to add interested individuals to the membership roll. 
Originator: Marion and Justin.
Comments: Added by Tim Holmes-Mitra.  Although this requirement was not explicitly stated during interviews, is an implicit and necessary part of membership management.

REQ-ID: 021
Description: The product shall handle the deletion of existing memberships.
Type: Functional.
Rationale:  As the membership roll evolves through time, a mechanism is needed to remove inactive members for a variety of reasons: on request, inactivity, Data Protection Act, etc.
Originator: Marion and Justin.
Comments: Added by Tim Holmes-Mitra.  Although this requirement was not explicitly stated during interviews, is an implicit and necessary part of membership management.
 
REQ-ID: 023
Description: The product shall be able to generate reports.
Type: Functional.
Rationale: System users should be able to pull customisable reports. (Specify time period, fields, etc.)
Originator: Justin.
Comments: Added by Ken Wilson. During the interview Justin stated the following, "system which can automatically produce management reports on a daily and weekly basis". This functional requirement covers that use-case. 

REQ-ID: 024
Description: The product shall notify attendees if there is a change in the workshop details
Type: Functional
Rationale: Workshop times and dates can change and attendees need to know in order to attend
Originator: Karen
Comments: Christopher Freshman 

REQ-ID: 025
Description: The product shall record the progress of volunteers
Type: Functional
Rationale: Volunteer progress is shared with the European Volunteer Service (EVS) to ensure they reach the required standard
Originator: Marion
Comments: Christopher Freshman

REQ-ID: 026 
Description: The product shall check the member is registered on walton sustainability centre
Type: Functional
Rationale: To update modified member information for correct personnel
Originator: Administration team (Karen, Sandra, James)
Comment:

REQ-ID: 027
Description: The product shall records updated member information on the system
Type: Functional
Rationale: To keep track of membership type, subscription expiry date, workshop or class records
Originator: Administration team (Karen, Sandra, James)
Comment:

REQ-ID: 028
Description: The product shall retrieve and list attendance of a workshop or course alongside the user information on demand.
Type: Functional.
Rationale: When using the current system, Marion is unable directly to see from her lists whether a user has attended a workshop or course before.
Originator: Marion
Comments: Added by Archie Campbell. This requirement is of an automated records system to replace a manual one that has been characterised as difficult to use and particularly incomplete in this area.

REQ-ID: 029
Description: The product shall be able to charge a credit or debit card. 
Type: Functional.
Rationale: When a member makes a reservation, or cancels a reservation, the relevant system should be notified of the need to take funds or make a refund of monies.
Originator: Marion
Comments: Added by Archie Campbell.

REQ-ID: 030
Description: The product shall schedule available staff members.
Type: Functional.
Rationale: Ensure that somebody is on hand to answer the phone.
Originator: Karen
Comments: Added by Archie Campbell. Whilst this may tread on Karen's toes and decay into technological requirements of a telephone system such as VoIP. It was a direct statement of Karen's.

REQ-ID:032
Description: The product shall list all Walton Sustainability members.   
Type: Functional
Rationale: To retrive details of members. 
Originator: Marion 
Comments: [TCornwall]  Added new functional requirement for WSC member details.

REQ-ID: 033
Description: The product shall determine whether the existing debit account has expired and require an update.
Type: Functional
Rationale: Debit cards have an expiry date thus for existing members, account details will need to be updated.
Originator: Karen Black, Centre Administrator
Comments: Added by Constantinos Morfakis

REQ-ID: 034
Description: The product shall save all payment receipts for later audit and report generation.
Type: Functional
Rationale: For accurate performance reports to be generated, a detailed record of incomes needs to be kept.
Originator: Justin
Comments: Added by Constantinos Morfakis